body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: rgb(182, 182, 182); */
}

.bg-grey {
  background-color: rgb(182, 182, 182);
}

.navbar {
  background: rgba(0, 0, 0)
}

.hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4)), url("../images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 85vh;
  width: 100%;
  margin-bottom: .7vw;
}

.hero-title {
  color: white;
  font-size: 72px;
  margin-bottom: 2vh; 
  font-weight: 600;
}

.hero-subtitle {
  color: white;
  margin-bottom: 25vh; 
}

.hero-cta {
  color: white;
  background-color: #DDBD59;
  border: none;
  font-family: montserrat;
  font-weight: 600;
  letter-spacing: 1px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 10px;
}

.hero-cta:hover {
  opacity: .7;
  transition: opacity .3s ease-in-out;
  text-decoration: none;
  color: white;
}

.br-7 {
  border-right: white .7vw solid;
}

.how-it-works {
  border-right: white .7vw solid;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)), url("../images/anika-mikkelson-dWYjy9zIiF8-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.how-it-works img {
  max-height: 50px;
}

.how-it-works-title, .why-qmc-title, .contact-title, .created-by-title {
  color: white;
}

.how-it-works .card {
  
  background-color: lightblue
}

.why-qmc {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)), url("../images/alex-holyoake-OG_yowmKu40-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: .7vw solid white
}

.why-qmc-card {
  opacity: .6;
}


.why-qmc p {
  color: black;
  font-weight: 600;
}



.contact {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)), url("../images/kyle-smith-oYMg1_VxlaM-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.created-by {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)), url("../images/maria-ten-b7Hr2YK-FuI-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.footer-top {
  max-width: 100%;
  margin-top: 50px;
}

.footer {
  height: 100px;
  background-color: rgb(34, 34, 34);
}

.t-shadow {
  text-shadow: 2px 2px 0px rgb(0, 0, 0);
}


/* Questions for Mike Stefanko */
/* Color ideas for title, CTA button? */
/* 100vh hero or less to indicate content below */
/* At a loss for what to do with the rest of the background */
/* Could use some ideas for wireframe/positioning the about section/why section -> what to call these */
/* About section is for new users explain simply how the site works/what it does */
/* Why section to mention covid, bringing people together when we cant hang out. Trying to do something to keep people's spirits up */
/* Also want to practice as a web dev, use as a job tool -> mention me and link my linkedIn, resume, portfolio, contact me section */

/* TO DO */
/* Optimize hero image */
/* Media Query to Shrink font sizes on smaller devices */
