body {
  font-family: "Montserrat", sans-serif;
  /* background-color: rgb(182, 182, 182); */
}

.navbar {
  background: rgba(0, 0, 0);
}

.signup-background {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("../images/myke-simon-atsUqIm3wxo-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 56px);
  width: 100%;
}

.signup {
  color: white;
  display: inline-block;
  background: rgba(0, 0, 0, 0.7);
  /* height: 500px; */
}

.signup-btn {
  background: #ddbd59;
  color: white;
}

.signup-btn:hover {
  opacity: .7;
  color: white;
  transition: opacity 0.3s ease-in-out;
}

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}

.google-button:focus,
.google-button:hover {
  -webkit-box-shadow: 0px 0px 15px 3px #0011ff;
  box-shadow: 0px 0px 15px 3px #0011ff;
}

.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}
